body{
    font-family: 'Playfair Display', serif !important;
}
#genuino__nav{
    color: black ;
    background-color: #c5c5c2 !important;
    border-color: #c5c5c2 !important;
}
.genuino__big_button{
    color: black;
    font-size: 16px !important;
    padding: 7px 12px !important;
    background-color: #fcfefe;
}
.genuino__small_button{
    color: black;
    font-size: 16px !important;
    padding: 5px 10px !important;
    background-color: #fcfefe;
}
@media (max-width: 998px) {
    .about_us__text{
        display: none;
    }
    #first_screen{
        background-image: url("../img/screen1_small_bg.png");
        background-size: 100% 100%;
    }
}
@media (min-width: 999px){
    #first_screen{
        background-image: url("../img/screen1_bg.png");
        background-size: 100% 100%;

    }
}

.first_screen__aboutus__list {
    list-style: none;
}
.navbar__CTA_span{
    border: 1px solid white;
    padding: 3px 6px;
    background-color: white;
    border-radius: 5px;
}
.aboutus__row{
    position: relative;
}

.about_us__CTA{
}
@media (max-width: 998px){
    .about_us__div{
        text-align: center;
    }
}
.about_us__div{
    padding-bottom: 20px;
}
.about_us_div_main_header{
    margin-top: 30px;
}
.about_us_div_main_p{
    margin-bottom: 50px;
}
.about_us__div p{
    /*padding-left: 30px;*/
}
.about_us__div__header{
    /*margin-top: 230px;*/
}
@media (max-width: 998px){
    .first_screen__form__first_row{
        margin-top: 30px;
    }
    .first_screen__form__third_row{
        margin-bottom: 30px;
    }
}
@media (min-width: 999px){
    .first_screen__form__first_row{
        margin-top: 380px;
    }
}
.first_screen__form__first_row__span{
    display: inline-block;
    color: white;
    font-size: 18px;
    padding-bottom: 2px;
    border-bottom: 1px solid white;
}
.first_screen__form__second_row{
    margin-top: 10px;
    margin-bottom: 15px;
}
.first_screen__form__second_row__input{
    padding: 5px 25px;
    border: 1px solid white;
    background-color: gray;
    color: black;
    margin-bottom: 5px;
}
.first_screen__form__second_row__input::-moz-placeholder {  /* Firefox 19+ */
    color: black;
}
.first_screen__form__second_row__input::-webkit-input-placeholder {
    color: black;
}

#second_screen{
    text-align: center;
    color: white;
    background-image: url("../img/screen2_bg.png");
    background-size: 100% 100%;

}

.second_screen__header{
    margin-top: 25px;
    margin-bottom: 25px;
}
.second_screen__header__logo{
    float: right;
}
.second_screen__header__logo_img{
    height: 100px;
}
.second_screen__header__text{
    float: left;
    text-align: left;
    font-size: 18px;
    margin-top: 20px;
}
.second_screen__header__span{

}

.div__border__down_span{
    font-size: 24px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.four_steps_result {
    border: 1px solid white;
}

.four_steps__margin {
    margin-top: 20px;
}

.four_steps__list_style {
    padding-left: 0px;
    list-style: none;
    border-right: 1px solid white;
}

.four_steps__li__styles {
    text-align: left;
    padding: 20px 0px 20px 0px;
}

.i__white__circle {
    border-radius: 50%;
    color: black;
    padding: 4px 10px;
    background-color: white;
}

.ol__circle__radius:hover {
    border: 1px solid white;
    border-radius: 50%;
    color: black;
    padding: 7px 0px 7px 3px;
    margin-right: 10px;
}
.ol__circle__radius_clicked{
    border: 1px solid white;
    border-radius: 50%;
    color: black;
    padding: 7px 0px 7px 3px;
    margin-right: 10px;
}

.four_steps__name{
    font-size: 14px;
}
.img__styles {
    text-align: center;
}

.img__styles__div {
    margin: 10px 0;
}
.img__styles__div img{
    height: 150px;
}
.second_screen__last_row{
    margin-top: 30px;
}
.second_screen__CTA{
    text-align: left;
}
.second_screen__CTA_header__span{
    font-size: 18px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}
.second_screen__CTA_text{
    margin-top: 15px;
    font-size: 12px;
}

#third_screen{
    background-image: url("../img/screen3_bg.png");
    background-size: 100% 100%;

}

.fivesteps{
    min-height: 20px;
    margin-top: 10px;
    background-color: #cccccc;
}

.fivesteps_header{
    font-size: 18px;
    padding: 7px 7px;
}

.fivesteps_header__img{
    float: right;
    height: 25px;
}
.fivesteps_header__span__active{
    border-bottom: 1px solid black;
    padding-bottom: 8px;
}
.fivesteps_info{
    display: none;
    font-size: 12px;
    padding: 10px 15px;
}
.fivesteps_info__p{

}
.third_screen__CTA{
    vertical-align: bottom;
}

.fivesteps__boots__img{
    height: 350px;
    margin-left: 50px;
}
.fivesteps__boots__img__circle{
    height: 45px;
}


#fourth_screen{
    background-image: url("../img/screen4_bg.png");
    background-size: 100% 100%;

}
.fourth_screen__header{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}
.fourth_screen__big_header{
    padding-bottom: 10px;
}
.fourth_screen__big_header__span{
    font-size: 22px;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 12px;
}
.fourth_screen__small_header{
    padding-top: 10px;
    font-size: 12px;
    color: white;
}
.fourth_screen__small_header__span{
    margin-top: 10px;
}

.fourth_screen__second_row{
    margin-top: 40px;
}

.fourth_screen__card_header{
    margin-top: 10px;
    min-height: 50px;
    background-color: #fcfefe;
    text-align: center;
}
.fourth_screen__card_header__header_span{
    padding:3px;
    border-bottom: 1px solid black;
    font-size: 18px;

}
.fourth_screen__card_header__content{
    margin-top: 8px;
    padding-bottom: 10px;
    padding-top: 4px;
}

.fourth_screen__card_content{
    min-height: 150px;
    background-color: #c5c5c8;
    text-align: center;
}
.fourth_screen__card_header__content_span{
    padding: 0px 10px;
    display: inline-block;
    font-size: 12px;
}
.fourth_screen__card_content__price{
    padding: 20px 0px;
    font-size: 20px;
}
.fourth_screen__card_content__text{
    padding: 0px 12px 25px 12px;
    font-size: 12px;
}

.fourth_screen__card_content__CTA{
    padding-bottom: 10px;

}

.fourth_screen__CTA{
    margin-top: 60px;
    text-align: center;
    color: white;
}
.fourth_screen__CTA_header{
    border-top: 1px solid white;
    padding-top: 10px;
}

.fourth_screen__CTA_buttons{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    color: white;
}
.fourth_screen__CTA_buttons button{
    margin: auto;
}

.fifth_screen__thanks{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 25px;
    text-align: center;
}
.fifth_screen__thanks_span{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
.fifth_screen__excuse{
    text-align: center;
    font-size: 20px;
}
.fifth_screen__excuse_span{

}
.fifth_screen__correct{
    margin-top: 30px;
    text-align: center;
}
.fifth_screen__correct_span{

}
.fifth_screen__CTA{
    margin-top: 30px;
}
.fifth_screen__footer{
    margin-top: 30px;
}
.fifth_screen__footer__img{
    float: right;
}
.fifth_screen__footer__img img{
    height: 100px;
}
.fifth_screen__footer__text{
    margin-left: 20px;
    margin-top: 30px;
    float: left;
}
#first_screen .container{
    margin-top: 50px;
    padding-bottom: 40px;
}
#second_screen .container{
    min-height: 500px;
}
#third_screen .container{
    min-height: 500px;
}
#fourth_screen .container{
    min-height: 500px;
}
#fifth_screen{
    background-color: #151516;
    color: white;
}
#fifth_screen .container{
}